@page
@model IndexModel
@{
    ViewData["Title"] = "Equitable Product API";
}

<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width" />
    <title>Equitable Product API</title>
  </head>
  <body>
    <h1>Equitable Product API</h1>
    <div id="container"></div>
  </body>
</html>
